* {
    background-color: blanchedalmond;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.players {
    border: gold solid 4px;
    background-color: skyblue;
    display: grid;
    grid-template: 80px 80px / 130px 130px 130px 130px 130px;
}
.board {
    position: relative;
    top: 10px;
    left: 400px;
    display: grid;
    grid-template: 100px 100px 100px / 100px 100px 100px;
    grid-auto-rows: 100px;
}
.grid {
    background-color: skyblue;
    border: 1px solid white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
}
.players button {
    background-color: blueviolet;
    color: white;
    height: 60px;
    width: 100px;
    border-radius: 15% 5% 15% 5%;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
}
.players div {
    justify-content: center;
    margin-top: 30px;
    background-color: skyblue;
    
}
#reset {
    grid-area: 1 / 4 / 3 / 6;
    height: 40%;
    width: 100%;
    margin-top: 45px;
    margin-left: 35px;
    background-color: black;
    border-radius: 10% 10% 10% 10%;
    border: 2px solid white;
}